body{
  margin: 20px;
}

.recipe{
  margin: 20px;
  border-bottom: 1px solid grey;
}
.recipe:hover{
  background-color: lightblue;
}

.recipe a{
  text-decoration: none;
  display: block;
}
.recipe a, .recipe a:visited{
  color: black;
}

.recipe-details {
  width: calc(100% - 200px);
  display: inline-block;
  vertical-align: top;
}

.recipe a img{
  display: inline-block;
  width: 200px;
}

li{
  margin-bottom: 20px;
}

.special{
  color: green;
  font-weight: 600;
  margin-left: 20px;
}